<div class="filters">
  <p>Filter by:</p>
  <select name="sport" id="sport">
    <option value="" selected>Sport (All)</option>
    {% for item in sports %}
      <option value="{{item}}">{{item}}</option>
    {% endfor %}
  </select>
  <input type="checkbox" name="peacock" id="peacock-check">
  <label for="peacock-check">I don't have Peacock</label>
  <input type="checkbox" name="medal" id="medal-check">
  <label for="medal-check">Medal Events</label>
  <input type="checkbox" name="usa" id="usa-check">
  <label for="usa-check">Team USA</label>
  <p class="small light">I realized these only work 1 at a time but I don't care to fix it.</p>
</div>
<script>
	document.getElementById('sport').addEventListener('change', function() {
    const inputSport = this.value.split(',').map(sport => sport.trim());

    document.querySelectorAll('.events .event').forEach(event => {
      if (this.value === '') {
        event.style.display = '';
      } else {
        const eventSports = event.getAttribute('data-sports').split(',').map(sport => sport.trim());
        const hasMatch = inputSport.some(sport => eventSports.includes(sport));
        
        event.style.display = hasMatch ? '' : 'none';
      }
    });
  });

  document.getElementById('peacock-check').addEventListener('change', function() {
    const checked = this.checked
    if (checked) {
      document.querySelectorAll('.events .event').forEach(event => {
        if (event.getAttribute('data-peacock-only') == 'true') {
          event.style.display = 'none'
        }
      });
      localStorage.setItem('hide-peacock', 1)
    } else {
      document.querySelectorAll('.events .event').forEach(event => {
        event.style.display = ''
      });
      localStorage.setItem('hide-peacock', 0)
    }
  });

  document.addEventListener('DOMContentLoaded', function() {
    if ((localStorage.getItem('hide-peacock') == 1) ? true : false) {
      document.getElementById('peacock-check').checked = true
      document.querySelectorAll('.events .event').forEach(event => {
        if (event.getAttribute('data-peacock-only') == 'true') {
          event.style.display = 'none'
        }
      });
    }
  });

  document.getElementById('medal-check').addEventListener('change', function() {
    const checked = this.checked
    if (checked) {
      document.querySelectorAll('.events .event').forEach(event => {
        if (event.getAttribute('data-medal') == 'true') {
          event.style.display = ''
        } else {
          event.style.display = 'none'
        }
      });
    } else {
      document.querySelectorAll('.events .event').forEach(event => {
        event.style.display = ''
      });
    }
  });

  document.getElementById('usa-check').addEventListener('change', function() {
    const checked = this.checked
    if (checked) {
      document.querySelectorAll('.events .event').forEach(event => {
        if (event.getAttribute('data-usa') == 'true') {
          event.style.display = ''
        } else {
          event.style.display = 'none'
        }
      });
    } else {
      document.querySelectorAll('.events .event').forEach(event => {
        event.style.display = ''
      });
    }
  });
</script>