body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

main, header {
  margin-inline: 2rem;
  max-width: 115ch;
}

ul {
  margin: 0;
  padding: 0;
}

.small {
  font-size: small;
}
.light {
  opacity: 80%;
}

.event {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  margin-block: 1rem;
  column-gap: 1.5rem;
}
.image-container {
  position: relative;
}
.event-img {
  width: auto;
  max-height: 12em;
  border-radius: 1rem;
}
.live {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  color: white;
  background-color: #ef1541;
  margin: 0;
  padding: 0.15em 0.25em;
  border-radius: 0.25rem;
}
.time {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
  color: white;
  background-color: hsla(0, 0%, 27%, 0.5);
  margin: 0;
  padding: 0.15em 0.25em;
  border-radius: 0.25rem;
}
.event-img.gold {
  border: 2px solid #FCB131;
  box-shadow: 0 0 0.75rem #FCB131;
}
.event .text {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 1rem;
  margin-top: 1rem;
}
.event .text h2, .event .text h3, .event .text p {
  margin-block: 0.25em;
}
.event .details {
  grid-column: span 2;
}
.event .watch {
  text-align: right;
  margin-top: 0.5rem;
}
.network-logo {
  width: 3rem;
  height: auto;
}

.event .schedule-item {
  margin-block: 1rem;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
}

@media screen and (max-width: 800px) {
  .event {
    grid-template-columns: 1fr;
    margin-block: 2rem;
  }
  .event-img {
    max-height: 50vh;
    max-height: 50dvh;
    border-radius: 1rem;
    width: 100%;
    height: auto;
  }
  .event .text {
    margin-inline: 0.5rem;
  }
}