body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
}

main, header {
  margin-inline: auto;
  max-width: 120ch;
}

ul {
  margin: 0;
  padding: 0;
}

.small {
  font-size: small;
}
.light {
  opacity: 80%;
}

.event {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-block: 1rem;
  column-gap: 0.5rem;
}
.event .text {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.event-img {
  max-height: 12em;
  border-radius: 1rem;
}
.network-logo {
  height: 3em;
}

@media screen and (max-width: 800px) {
  main, header {
    margin-inline: 2rem;
  }

  .event {
    grid-template-columns: 1fr;
    margin-block: 2rem;
  }
  .event .text {
    margin-inline: 0.5rem;
  }
  .event-img {
    max-height: 50vh;
    max-height: 50dvh;
    border-radius: 1rem;
    width: 100%;
  }
  .network-logo {
    height: auto;
    width: 3rem;
  }
}