<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <meta name="generator" content={{eleventy.generator}}>

  {% set css %}{% include "main.css" %}{% endset %}
  <style>
    {{ css | safe }}
  </style>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <script async src="https://analytics.zacharyc.site/analytics.js" data-ackee-server="https://analytics.zacharyc.site" data-ackee-domain-id="e83d6298-71bb-4366-86ca-bd13fd429a8b" data-ackee-opts='{ "detailed": true }'></script>
</body>
</html>