---
layout: main.njk
title: Olympic Schedule
---
<a href="/tomorrow">View Tomorrow</a>

{% set sports = events.today.sports %}
{% include 'filters.njk' %}

{% set events = events.today.events %}
{% include 'events.njk' %}
