---
layout: main.njk
---
  <div class="filters">
		<p>Filter by:</p>
		<select name="sport" id="sport">
			<option value="" selected>Sport (All)</option>
			{% for item in events.currentTags %}
				<option value="{{item}}">{{item}}</option>
			{% endfor %}
		</select>
	</div>
</details>
<ul class="events">
	{% for event in events.currentEvents %}
		<li class="event" data-sports="{{event.sport}}">
			<div class="image-container">
				{% if event.live %}
					<p class="live">Live</p>
				{% endif %}
				<img class="event-img {{event.medal}}" src={{event.img}} alt={{event.imgAlt}}>
			</div>
			<div class="text">
				<div class="title">
					<h3>{{event.sport}}</h3>
					<h2>{{event.title}}</h2>
					<p><b>{{event.startTime}}</b> on <b>{{event.network}}</b></p>
				</div>
				<div class="watch">
					<img class="network-logo" src={{event.networkLogo}} alt={{network}}>
				</div>
				<div class="details">
					<p class="small light summary">{{event.summary}}</p>
					{% if event.rundown %}
						{% for item in event.rundown %}
							<div class="schedule-item">
								<p><b>{{item.date | itemTime}}</b> - {{item.header | boldSport | safe}}</p>
								<p class="small light">{{item.description}}</p>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</li>
	{% else %}
		<p>No Events Found</p>
	{% endfor %}
</ul>

<script>
	document.getElementById('sport').addEventListener('change', function() {
  const inputSport = this.value.split(',').map(sport => sport.trim());

  document.querySelectorAll('.events .event').forEach(event => {
    if (this.value === '') {
      event.style.display = '';
    } else {
      const eventSports = event.getAttribute('data-sports').split(',').map(sport => sport.trim());
      const hasMatch = inputSport.some(sport => eventSports.includes(sport));
      
      event.style.display = hasMatch ? '' : 'none';
    }
  });
});
</script>